/*
Fuentes que se usan en Phaser
*/
@font-face {
    font-family: "AUdimat-Regular";
    src: url('assets/fonts/AUdimat-Regular.otf');
}

@font-face {
    font-family: "Gidolinya-Regular";
    src: url('assets/fonts/Gidolinya-Regular.otf');
}

@font-face {
    font-family: "kimberley";
    src: url('assets/fonts/kimberley.ttf');
}

@font-face {
    font-family: "adventpro-regular";
    src: url('assets/fonts/adventpro-regular.ttf');
}

@font-face {
    font-family: "gidole-regular";
    src: url('assets/fonts/Gidole-Regular.otf');
}

@font-face {
    font-family: "dadha";
    src: url('assets/fonts/dadha___.ttf');
}