/*
Fuentes que se usan en Phaser
*/
@font-face {
    font-family: "AUdimat-Regular";
    src: url('assets/fonts/AUdimat-Regular.otf');
}

@font-face {
    font-family: "Gidolinya-Regular";
    src: url('assets/fonts/Gidolinya-Regular.otf');
}

@font-face {
    font-family: "kimberley_bl";
    src: url('assets/fonts/kimberley_bl.otf');
}

@font-face {
    font-family: "adventpro-regular";
    src: url('assets/fonts/adventpro-regular.ttf');
}